.notify {
    color: white;
    background-color: #37474F;
    padding: 1.2rem 2.2rem;
    z-index: 999999999;
    font-size: 1rem;
    position: absolute;
    transform: translate(-50%);
    top: -100%;
    left: 50%;
    border-radius: 20px;
}

.notify.slide-in {
    animation-duration: 4s;
    animation-delay: -1s;
    animation-name: slidein;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes slidein {
    0% {
        top: -100%;
    }

    40% {
        top: 750px;
    }

    60% {
        top: 750px;
    }

    100% {
        top: -100%;
    }
}